html,
body {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 90vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a2e9ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.light-blue {
  background-color: #a2e9ff;
}

.lighter-blue {
  background-color: #c7e9f5;
}