.login-form {
  width: 100%;
  margin: auto;
  background-color: white;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.form-width {
  max-width: 450px;
  padding: 30px;
}